* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 50px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: white!important;
    background-color: skyblue;
    transition: 0.4s ease;
}

.navbar {
    background: #fff;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: black!important;
    font-weight: 500;
    font-size: 15px;
    font-family: unset;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    font-size: small;
}


/*-----Slider-----*/

#slider {
    width: 100%;
}


/*-----Jumbotron-----*/

.welcome-message {
    background: white;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.welcome-message h1 {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 50px;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    line-height: 1.25em;
    color: green;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.welcome-message p {
    font-family: 'Raleway', sans-serif;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 20px;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.founders-container {
    background: white;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    background-color: green;
    color: white;
}

.founders-container h1 {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
    vertical-align: baseline;
    outline: 0;
    line-height: 1.25em;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.founders-container p {
    font-family: 'Raleway', sans-serif;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    vertical-align: baseline;
    outline: 0;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.Aboutus-container {
    background: white;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    background-color: #007bff;
    color: white;
}

.Aboutus-container h1 {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
    vertical-align: baseline;
    outline: 0;
    line-height: 1.25em;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.Aboutus-container p {
    font-family: 'Raleway', sans-serif;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    vertical-align: baseline;
    outline: 0;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 15px;
    text-align: justify;
}


/*---leadership profile---*/

a {
    text-decoration: none;
}

.team-area {
    padding: 125px 0 0 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.team-container {
    width: 1100px;
    height: auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-left: 20px;
}

.single-img {
    border-radius: 5px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 325px;
    height: 350px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transform: translate(0, 0);
    transition: 0.3s;
}

.single-img:hover {
    transform: translate(0, -9px);
}

.img-one {
    background-image: url();
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.img-two {
    background-image: url();
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.img-three {
    background-image: url(/img/Rev.\ Anaman.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.img-text {
    background: #fff;
    padding: 0 10px 5px 10px;
    width: 100%;
    height: auto;
    position: relative;
    transform: translate(0, 110px);
    line-height: 24px;
    transition: 0.5s ease;
    display: inline-block;
    color: black;
    font-family: 'Raleway', sans-serif;
    margin-top: 150px;
}

.img-text p {
    text-align: center;
    color: gray;
    font-size: 20px;
}

.img-text p i {
    padding-right: 20px;
    color: #007bff;
}

.img-text p i:hover {
    color: green;
}

.img-text h4 {
    line-height: 16px;
    padding: 0;
    margin: 16px 0;
    font-family: big john;
    text-align: center;
}

.single-img:hover .img-text {
    transform: translate(0, 0);
}


/*----- Get in touch -----*/

#contact {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

hr.two {
    border: none;
    height: 3px;
    background: #007bff;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact h3 {
    text-align: center;
    font-weight: bold;
}

.contact-form {
    padding: 15px;
}

.form-control {
    border-radius: 0 !important;
    border: none !important;
}

 ::placeholder {
    color: #999 !important;
}

.follow {
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa {
    margin: 10px;
    font-weight: bold;
}

.fa-heart-o {
    color: red;
}

.footer-2 {
    background: #343a40;
    color: #686868;
    text-align: center;
    height: 50px;
    padding-top: 10px;
}


/*-----Banner-----*/

.banner {
    background: url(/img/music\ ministry\ banner.jpg);
    background-size: cover;
    height: 20vh;
}

.banner-content h1 {
    color: blue;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner-content span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.mediafuor_banner {
    background: url(/img/mediafuor1.jpg);
    background-size: cover;
    height: 20vh;
}

.mediafuor_banner h1 {
    color: blue;
    width: 55%;
    font-size: 35px;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mediafuor_banner span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.Aboutus_banner {
    background: url(/img/About\ us\ banner.jpg);
    background-size: cover;
    height: 20vh;
}

.Aboutus_banner h1 {
    color: blue;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Aboutus_banner span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.gallery-banner {
    background: url(/img/Gallery\ album\ \ bannerr.jpg);
    background-size: cover;
    height: 20vh;
}

.gallery-banner-content h1 {
    color: green;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery-banner-content span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.description-container {
    max-width: none;
    padding-top: 20px;
}

.description-container p {
    text-align: justify;
}

.description-container h3 {
    color: #007bff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.description-container .floating-image {
    max-width: 400px;
}

.description-container .floating-image.right {
    float: right;
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.description-container .floating-image.left {
    float: left;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

hr.one {
    border: none;
    height: 3px;
    background: #007bff;
    margin-left: 300px;
    margin-right: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wpb_wrapper {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    visibility: visible;
    font-family: Rubik !important;
    line-height: 26px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #505050 !important;
    font-size: 15px !important;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none !important;
    margin: initial;
}