* {
    margin: 0;
    padding: 0;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
    height: 50px;
    padding-left: 20px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: white!important;
    background-color: skyblue;
    transition: 0.4s ease;
}

.navbar {
    background: #fff;
}

.navbar {
    background-color: white;
}

.navbar-toggler {
    border: none!important;
}

.nav-link {
    color: black!important;
    font-weight: 500;
    font-size: 15px;
    font-family: unset;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    font-size: small;
}


/*-----Slider-----*/

#slider {
    width: 100%;
}


/*----- Welcome Message -----*/

.welcome-message {
    background: green;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.welcome-message h1 {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 50px;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    line-height: 1.25em;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    padding-top: 20px;
}

.welcome-message p {
    font-family: 'Fugaz One', cursive;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 20px;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    color: white;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}


/*----- End of Welcome Message -----*/

.img-wrap img {
    width: 100%;
    padding: -5px;
    border: 4px solid transparent;
    border-radius: 200%;
    box-shadow: 0 0 20px green;
    margin-top: 90px;
    margin-left: 50px;
}

.Our-founders h1 {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 50px;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
    line-height: 1.25em;
    color: green;
    font-family: Times New Roman;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}

.Our-founders p {
    font-family: 'Fugaz One', cursive;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    vertical-align: baseline;
    outline: 0;
    color: black;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 60px;
    padding-right: 15px;
    font-weight: bold;
}

.Aboutus-container {
    background: white;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    background-color: green;
    color: white;
}

.Aboutus-container h1 {
    -webkit-font-smoothing: antialiased;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
    vertical-align: baseline;
    outline: 0;
    line-height: 1.25em;
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.Aboutus-container p {
    font-family: 'Raleway', sans-serif;
    visibility: visible;
    background: 0 0;
    border: 0;
    margin-top: 20px;
    padding-bottom: 20px;
    vertical-align: baseline;
    outline: 0;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 15px;
    text-align: justify;
}


/*---leadership profile---*/

.wrap {
    width: 1100px;
    margin: auto;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 650px;
    justify-content: space-between;
    height: 3200px;
}

.profilecard {
    box-shadow: 0 4px 8px 0 blue;
    transition: .4s;
    width: 300px;
    text-align: center;
    background: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    float: left;
    margin: 20px;
    border-radius: 20%;
    margin-top: 100px;
}

.profilecard img {
    height: 300px;
    border-radius: 100%;
}

.profilecard:hover {
    box-shadow: 0 20px 20px 0;
}

.profile-container h4 {
    color: black;
    padding-top: 10px;
}


/*----- End of leadership profile -----*/


/*-----Banner-----*/

.banner {
    background: url(img/music\ ministry\ banner.jpg);
    background-size: cover;
    height: 20vh;
}

.banner-content h1 {
    color: green;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner-content span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.mediafuor_banner {
    background: url(/img/mediafuor1.jpg);
    background-size: cover;
    height: 20vh;
}

.mediafuor_banner h1 {
    color: green;
    width: 55%;
    font-size: 35px;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mediafuor_banner span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.Aboutus_banner {
    background: url(/img/About\ us\ banner.jpg);
    background-size: cover;
    height: 20vh;
}

.Aboutus_banner h1 {
    color: green;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Aboutus_banner span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.gallery-banner {
    background: url(/img/Gallery\ album\ \ bannerr.jpg);
    background-size: cover;
    height: 20vh;
}

.gallery-banner-content h1 {
    color: green;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery-banner-content span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.adult-ministry-banner {
    background: url(/img/music\ ministry\ banner.jpg);
    background-size: cover;
    height: 20vh;
}

.adult-ministry-banner h1 {
    color: green;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adult-ministry-banner-content span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}

.contact-us-banner {
    background: url(/img/contact\ us\ banner.jpg);
    background-size: cover;
    height: 20vh;
}

.contact-us-banner h1 {
    color: green;
    width: 55%;
    padding-top: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-us-banner-content span {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 18px;
    color: blueblack;
    padding-left: 10px;
}


/*----- End of Banner -----*/


/*------ Music Ministry des. con. ------*/

.description-container {
    max-width: none;
    padding-top: 20px;
}

.description-container p {
    text-align: justify;
}

.description-container h3 {
    color: green;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.description-container .floating-image {
    max-width: 400px;
}

.description-container .floating-image.right {
    float: right;
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.description-container .floating-image.left {
    float: left;
    padding-top: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

hr.one {
    border: none;
    height: 3px;
    background: green;
    margin-left: 300px;
    margin-right: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wpb_wrapper {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    visibility: visible;
    font-family: Rubik !important;
    line-height: 26px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    color: #505050 !important;
    font-size: 15px !important;
    box-sizing: border-box;
    text-decoration: none !important;
    outline: none !important;
    margin: initial;
}


/*------ End of Music Ministry des. con. ------*/


/*---- Iframe (embeds)----*/

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 40.25%;
    height: 100%;
}

.iframe-container iframe {
    position: absolute;
    top: 0vh;
    left: 20vh;
    width: 80%;
    height: 90%;
}


/*---- End of Iframe (embeds)----*/


/*---- Video Section ----*/

.vid-section {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    margin-bottom: 100px;
    padding: 200px 0;
}

.video-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: -50%;
    min-height: 100%;
    z-index: -1;
}

.youth-vid-section {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: relative;
    width: 100%;
    height: 90vh;
    text-align: center;
    overflow: hidden;
    margin-bottom: 100px;
    margin-top: 19px;
    padding: 200px 0;
}

.youth-video-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: -50%;
    min-height: 100%;
    z-index: 1;
}

.youth-vid-section h1 {
    z-index: 2;
}


/*---- End of Video Section ----*/


/*---- ContactInfo-container ----*/

.container h4 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.ContactInfo-container p {
    margin-bottom: 40px;
}

#contactinfo {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    font-family: Rubik !important;
    margin-top: 20px;
}


/*---- End of ContactInfo-container ----*/


/*---- Map ----*/

.map-section {
    padding-left: 65px;
    background-image: url(/img/map\ bg\ two.jpg);
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}


/*---- End of Map ----*/


/*----- Get in touch -----*/

#contact {
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

hr.two {
    border: none;
    height: 3px;
    background: #007bff;
    margin-left: 450px;
    margin-right: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#contact h3 {
    text-align: center;
    font-weight: bold;
}

.contact-form {
    padding: 15px;
}

.form-control {
    border-radius: 0 !important;
    border: none !important;
}

 ::placeholder {
    color: #999 !important;
}

.follow {
    background: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa {
    margin: 10px;
    font-weight: bold;
}


/*----- End of Get in Touch -----*/


/*----- Footer -----*/

.fa-heart-o {
    color: red;
}

.footer-2 {
    background: black;
    color: #686868;
    text-align: center;
    height: 80px;
    padding-top: 10px;
}

.footer-2 .navbar-brand {
    padding-right: 650px;
    padding-top: 8px;
}


/*----- End of Footer -----*/